<header>
  <nav class="sp-nav">
    <a href="#" class="logo"></a>

    <div class="upper-row-wrapper">
      <div class="phone-wrapper">
        <a href="tel:380683392449">(068) - 339 - 24 - 49</a>
        <a href="tel:380504192547">(050) - 419 - 25 - 47</a>
      </div>
      <ul class="networks-wrapper">
        <li>
          <a
            href="https://t.me/joinchat/AAAAAEnvhEM-NHLxqucsIA"
            class="tlgrm"
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/smartpockets/" class="ig"></a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UC524DJ29AubnVgP4sJaGF5g?view_as=subscriber"
            class="yt"
          ></a>
        </li>
        <li>
          <a
            href="https://invite.viber.com/?g2=AQBOUKYRluZ7VklIBiZxi2rS7DNgDblI%2FPHVvDujXDS9fyFBPSQkhGarSla02u6h"
            class="viber"
          ></a>
        </li>
        <li>
          <a href="https://www.facebook.com/smartpockets.ua/" class="fb"></a>
        </li>
      </ul>
    </div>
    <div class="lower-row-wrapper">
      <ul class="">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Наша миссия</a></li>
        <li><a href="#">Продукция</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">О нас</a></li>
      </ul>
    </div>
<app-hamburger></app-hamburger>

  </nav>
</header>
