<header id="head">
    <nav class="sp-nav">
        <a SimpleSmoothScroll [showHash]="false" class="logo" href="#head">Smart Pockets</a>

        <div class="upper-row-wrapper">
            <div class="phone-wrapper">
                <a href="tel:380683392449">(068) - 339 - 24 - 49</a><br/>
                <a href="tel:380504192547">(050) - 419 - 25 - 47</a><br/>
            </div>
            <ul class="networks-wrapper">
                <li>
                    <a
                            class="tlgrm"
                            href="https://t.me/joinchat/AAAAAEnvhEM-NHLxqucsIA"
                    >Telegram</a>
                </li>
                <li>
                    <a class="ig" href="https://www.instagram.com/smartpockets/">IG</a>
                </li>
                <li>
                    <a
                            class="yt"
                            href="https://www.youtube.com/channel/UC524DJ29AubnVgP4sJaGF5g?view_as=subscriber"
                    >YT</a>
                </li>
                <li>
                    <a
                            class="viber"
                            href="https://invite.viber.com/?g2=AQBOUKYRluZ7VklIBiZxi2rS7DNgDblI%2FPHVvDujXDS9fyFBPSQkhGarSla02u6h"
                    >Viber</a>
                </li>
                <li>
                    <a class="fb" href="https://www.facebook.com/smartpockets.ua/">FB</a>
                </li>
            </ul>
        </div>
        <div class="lower-row-wrapper">
            <ul class="">
                <li><a SimpleSmoothScroll [showHash]="false" href="#head">Главная</a></li>
                <li><a SimpleSmoothScroll [showHash]="false" href="#mission">Наша миссия</a></li>
                <li><a SimpleSmoothScroll [showHash]="false" href="#production">Продукция</a></li>
                <li><a SimpleSmoothScroll [showHash]="false" href="#contacts">Контакты</a></li>
                <li><a SimpleSmoothScroll [showHash]="false" href="#about-us">О нас</a></li>
            </ul>
        </div>
        <nav class="header-ham">
            <app-hamburger></app-hamburger>

        </nav>

    </nav>
</header>
