<footer id="contacts">
  <div class="section-wrapper">
    <div class="footer-left">
      <div class="vcard">
        <h4 class="fn org">Smart Pockets</h4>

        <address class="adr">
          <span class="locality">г. Одесса</span>
          <div class="street-address">ул. Среднефонтанская 19а, 2 этаж</div>
        </address>
      </div>
      <ul class="networks-wrapper">
        <li>
            <a class="tlgrm" href="https://t.me/joinchat/AAAAAEnvhEM-NHLxqucsIA">Telegram
          </a>
        </li>
        <li>
            <a class="ig" href="https://www.instagram.com/smartpockets/">IG</a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UC524DJ29AubnVgP4sJaGF5g?view_as=subscriber"
            class="yt"
          >YT
          </a>
        </li>
        <li>
          <a
            href="https://invite.viber.com/?g2=AQBOUKYRluZ7VklIBiZxi2rS7DNgDblI%2FPHVvDujXDS9fyFBPSQkhGarSla02u6h"
            class="viber"
          >Viber
          </a>
        </li>
        <li>
            <a class="fb" href="https://www.facebook.com/smartpockets.ua/">FB</a>
        </li>
      </ul>
    </div>

    <div class="footer-center"></div>
    <div class="footer-right">
      <div class="vcard">
          <a class="tel" href="tel:380487726248"
          >(048) &ndash; 772 &ndash; 62 &ndash; 48</a
        ><br />
        <a class="tel" href="tel:380683392449"
          >(068) &ndash; 339 &ndash; 24 &ndash; 49</a
        ><br />
        <a class="tel" href="tel:380504192547"
          >(050) &ndash; 419 &ndash; 25 &ndash; 47</a
        ><br />
          <a class="email" href="mailto:smartpockets.chief@gmail.com">smartpockets.chief@gmail.com
          </a>
      </div>
    </div>
  </div>
</footer>
