ul {
  list-style: none;

  li {
    display: inline-block;
    padding: 1em;
  }
}

footer {
  background-color: #0a783d;
  color: #fff;
  min-height: 200px;
  margin-top: 4em;

  a {
    color: #fff;
    text-decoration: none;
  }

  .section-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer-left {
    display: inline-block;

    .vcard {
      padding: 2em 0;

      h4 {
        padding-bottom: 0.5em;
        font-size: larger;
      }

      address {
        font-style: normal;
      }
    }

    .networks-wrapper {
      li {
        a {
          display: inline-block;
          width: 28px;
          height: 28px;
          color: transparent;
        }
      }
    }

    .tlgrm {
      background: url("src/assets/img/telegram_white.png") no-repeat;
      background-size: contain;
    }

    .ig {
      background: url("src/assets/img/ig_white.png") no-repeat;
      background-size: contain;
    }

    .yt {
      background: url("src/assets/img/yt_white.png") no-repeat;
      background-size: contain;
    }

    .fb {
      background: url("src/assets/img/fb_white.png") no-repeat;
      background-size: contain;
    }

    .viber {
      background: url("src/assets/img/viber_white.png") no-repeat;
      background-size: contain;
    }
  }
}

.footer-center {
  display: inline-block;
  background: url("src/assets/img/logo_footer.png") no-repeat top center;
  margin-top: -2.5em;
  width: 160px;
  height: 187px;
  text-align: center;
}

.footer-right {
  display: inline-block;
  padding-top: 1em;
  text-align: right;

  .tel,
  .email {
    font-size: large;
    padding: .25em;
    display: inline-block;
  }
}


@media (max-width: 1400px) {
  .section-wrapper {
    max-width: 90%;
  }
}

@media (max-width: 780px) {
  footer {
    .section-wrapper {
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .footer-center {
        display: none;
      }

      .footer-left,
      .footer-right {
        text-align: center;
      }

      .footer-left {
        .vcard {
          padding: 1em 0;
        }

        .networks-wrapper {
          li {
            padding: .65em;
          }
        }
      }

      .footer-right {
        padding-top: 0;
      }
    }
  }
}
