<section class="section-wrapper">
  <h2>О нас</h2>
  <div class="about-text-wrapper">
    <p class="about-text">
      &nbsp;&nbsp;&nbsp;Компания Smart Pockets предоставляет широкую линейку
      продукции из полиэтилена с использованием биоразлагаемых добавок. В
      ассортименте выпускаемой продукции - популярные в использовании пакеты
      "банан" и "майка", а также пакеты с петлевой ручкой, фасовочные пакеты,
      пакеты для рассады и зоомагазинов.<br />
      &nbsp;&nbsp;&nbsp;Мы предоставляем нашим клиентам стильную и яркую
      упаковку для их товаров. Именно по этому наши пакеты идеально подходят для
      магазинов одежды, обуви, аксессуаров, парфюмерии, мелкой и крупной бытовой
      техники и многого другого.<br />
      &nbsp;&nbsp;&nbsp;Мы всегда идем в ногу со временем и готовы разработать
      для вас индивидуальную упаковку, которая будет максимально отражать ваши
      основные преимущества на рынке.
    </p>
  </div>
</section>
