<div class="section-wrapper" id="production">
  <h2>Наша продукция</h2>
  <div class="production-wrapper">
    <div class="production-item">
      <a href="#" class="production-link banana">
        <span> Пакет с логотипом банан </span></a
      >
      <a href="#" class="production-link mayka">
        <span> Пакет с логотипом майка </span>
      </a>
      <a href="#" class="production-link petlia">
        <span>Пакет с логотипом
          с петлевой ручкой</span
        >
      </a>
      <a href="#" class="production-link fasovka">
        <span>
          Пакет фасовка тысячник,
          майка для сыпучих продуктов</span
        >
      </a>
      <a href="#" class="production-link rassada">
        <span>Пакеты для рассады(саженцев) </span>
      </a>
      <a href="#" class="production-link vklad">
        <span
          >Мешки-вкладыши
          полиэтиленовые
        </span>
      </a>
    </div>
  </div>
</div>
<div class="production-other">
  <div class="other-wrapper">Другие наши предложения</div>
</div>
<div class="section-wrapper">
  <div class="production-wrapper">
    <div class="production-item">
      <a href="#" class="production-link without"><span>Пакеты без печати</span></a>
      <a href="#" class="production-link paper"><span>Бумажные пакеты</span></a>
      <a href="#" class="production-link craft"><span>Крафт пакеты</span></a>
    </div>
  </div>
</div>
