<div class="section-wrapper">
  <h2>Наша продукция</h2>
  <div class="production-wrapper">
    <div class="production-item">
      <a href="#" class="production-link banana">Пакет с логотипом банан</a>
      <a href="#" class="production-link mayka">Пакет с логотипом майка</a>
      <a href="#" class="production-link petlia">
        Пакет с логотипом<br />
        с петлевой ручкой
      </a>
      <a href="#" class="production-link fasovka">
        Пакет фасовка тысячник,<br />
        майка для сыпучих продуктов
      </a>
      <a href="#" class="production-link rassada">
        Пакеты для рассады(саженцев)
      </a>
      <a href="#" class="production-link vklad">
        Мешки-вкладыши<br />
        полиэтиленовые
      </a>
    </div>
  </div>
</div>
<div class="production-other">
  <div class="other-wrapper">Другие наши предложения</div>
</div>
<div class="section-wrapper">
  <div class="production-wrapper">
    <div class="production-item">
      <a href="#" class="production-link without">Пакеты без печати</a>
      <a href="#" class="production-link paper">Бумажные пакеты</a>
      <a href="#" class="production-link craft">Крафт пакеты</a>
    </div>
  </div>
</div>
