.partners_wrapper {
  .partner-item {
    max-width: 200px;
    margin: 0 1em;
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: #000;
    opacity: 0.25;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    border-radius: 10px;
    &:hover {
      opacity: 0.7;
    }
    &:before {
      line-height: 12px;
      font-size: 25px;
      font-weight: 600;
    }
  }
  .slick-next {
    right: -45px;
    &:before {
      content: ">";
    }
  }
  .slick-prev {
    left: -45px;
    &:before {
      content: "<";
    }
  }
}
