<div class="section-wrapper" id="count">
  <h2>Розрахувати вартість продукції</h2>
</div>
<div class="section-form-wrapper">
  <form [formGroup]="countForm" class="form-wrapper">

    <div class="form-group form-radiocheck">
      <label>Тип пакета:</label>
      <div class="form-field flat" *ngFor="let item of _type | keyvalue"
           [ngClass]="{checked: packetType.value === item.value}">
        <label [for]="item.value">{{item.value}}</label>
        <input class="form-radio" type="radio" name="type" [id]="item.value" value='{{item.value}}'
               formControlName="type">
      </div>
    </div>
    <div class="form-group form-radiocheck">
      <label>Тип друку:</label>
      <div class="form-field flat" *ngFor="let item of _printType | keyvalue"
           [ngClass]="{ disabled: printType.disabled, checked: printType.value === item.value}"
      >
        <label [for]="item.value">{{item.value}}</label>
        <input class="form-radio" type="radio" name="printType" [id]="item.value" value='{{item.value}}'
               formControlName="printType">
      </div>
    </div>
    <div class="form-group form-radiocheck">
      <label>Матерiал:</label>
      <div class="form-field flat" *ngFor="let item of _packet | keyvalue"
           [ngClass]="{checked: packet.value === item.value}">
        <label [for]="item.value">{{item.value}}</label>
        <input class="form-radio" type="radio" name="packet" [id]="item.value" value='{{item.value}}'
               formControlName="packet">
      </div>
    </div>

    <div class="form-group form-radiocheck">
      <label>Тип поліетилену:</label>
      <div class="form-field flat" [ngClass]="{checked: polyType.value === item.value}"
           *ngFor="let item of _polyType | keyvalue">
        <label [for]="item.value">{{item.value}}</label>
        <input class="form-radio" type="radio" name="polyType" [id]="item.value" value='{{item.value}}'
               formControlName="polyType">
      </div>

    </div>


    <div class="form-group">
      <label for="name">Розмір</label>
      <div class="form-field">
        <app-custom-select
          [options]="size_options"
          formControlName="size"></app-custom-select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">
        Щільність</label>
      <div class="form-field">
        <select formControlName="density">

          <!--          <option *ngFor="let dens of getInfo('density')">{{dens}}</option>-->
        </select>


      </div>
    </div>
    <div class="form-group">
      <label for="name">Тираж</label>
      <div class="form-field">
        <app-custom-select
          [options]='copies' formControlName="copies"></app-custom-select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">
        Колір пакета</label>
      <div class="form-field">
        <app-custom-select
          [options]="_colour" formControlName="colour"></app-custom-select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">Кіл-ть кольорів у логотипі</label>
      <div class="form-field">
        <select formControlName="colourNumber">
          <option *ngFor="let colour of colour_count">{{colour}}</option>
        </select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">Сторонність</label>
      <div class="form-field">
        <select formControlName="sides">
          <option *ngFor="let side of _sides">{{side}}</option>
        </select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">Им'я *</label>
      <div class="form-field">
        <i class="icon icon-user2"></i>
        <input type="text" formControlName="name" id="name" class="form-control" required
               [ngClass]="!countForm.controls['name'].valid && countForm.controls['name']?.touched  ? 'invalid' : '' ">
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email *</label>
      <div class="form-field">
        <i class="icon icon-mail"></i>
        <input type="text" id="email" formControlName="email" class="form-control" required
               [ngClass]="!countForm.controls['email'].valid && countForm.controls['email']?.touched  ? 'invalid' : '' ">
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Телефон * </label>
      <div class="form-field">
        <i class="icon icon-phone"></i>
        <input type="text" id="phone" formControlName="phone" class="form-control" required
               [ngClass]="!countForm.controls['phone'].valid && countForm.controls['phone']?.touched  ? 'invalid' : '' ">
      </div>
    </div>
    <div class="form-group form-textarea">
      <label for="comment">Коментар</label>
      <div class="form-field">
        <textarea name="" id="comment" cols="30" rows="10" formControlName="comment">  </textarea>
      </div>
    </div>
    <div class="form-group form-button">
      <div class="form-field">
        <button type="submit" class="form-submit" [disabled]="!countForm.valid" (click)="onSubmit()">надіслати</button>
      </div>
    </div>


  </form>

</div>
