<div class="section-wrapper" id="count">
  <h2>Рассчитать стоимость продукции</h2>
</div>
<div class="section-form-wrapper">
  <form [formGroup]="countForm" class="form-wrapper">

    <div class="form-group form-radiocheck">
      <div class="form-group form-radiocheck">
        <label>Тип пакета:</label>
        <div class="form-field flat" *ngFor="let item of _type | keyvalue">
          <label class="form-radio" [for]="item.value">{{item.value}}</label>
          <input type="radio" name="type" [id]="item.value" value='{{item.value}}' formControlName="type">
        </div>
      </div>
      <div class="form-group form-radiocheck">
        <label>Тип печати:</label>
        <div class="form-field flat" *ngFor="let item of _printType | keyvalue">
          <label class="form-radio" [for]="item.value">{{item.value}}</label>
          <input type="radio" name="printType" [id]="item" value='{{item}}' formControlName="printType">
        </div>
      </div>
      <div class="form-field flat" *ngFor="let item of _packet | keyvalue">
        <label class="form-radio" [for]="item.value">{{item.value}}</label>
        <input type="radio" name="packet" [id]="item.value" value='{{item.value}}' formControlName="packet">
      </div>
    </div>

    <div class="form-group form-radiocheck">
      <label>Тип полиэтилена:</label>
      <div class="form-field flat" *ngFor="let item of _polyType | keyvalue">
        <label class="form-radio" [for]="item.value">{{item.value}}</label>
        <input type="radio" name="polyType" [id]="item.value" value='{{item.value}}' formControlName="polyType">
      </div>
    </div>


    <div class="form-group">
      <label for="name">Размер</label>
      <div class="form-field">
        <app-custom-select
          [options]="size_options"
          formControlName="size"></app-custom-select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">Плотность</label>
      <div class="form-field">
        <select formControlName="density">

          <option *ngFor="let dens of getInfo('density')">{{dens}}</option>
        </select>


      </div>
    </div>
    <div class="form-group">
      <label for="name">Тираж</label>
      <div class="form-field">
        <app-custom-select
          [options]="getInfo('copies')" formControlName="copies"></app-custom-select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">Цвет пакета</label>
      <div class="form-field">
        <app-custom-select
          [options]="colour" formControlName="colour"></app-custom-select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">Кол-во цветов в логотипе</label>
      <div class="form-field">
        <select formControlName="colourNumber">
          <option *ngFor="let colour of colour_count">{{colour}}</option>
        </select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">Сторонность</label>
      <div class="form-field">
        <select formControlName="sides">
          <option *ngFor="let side of _sides">{{side}}</option>
        </select>

      </div>
    </div>
    <div class="form-group">
      <label for="name">Имя *</label>
      <div class="form-field">
        <i class="icon icon-user2"></i>
        <input type="text" formControlName="name" id="name" class="form-control" required
               [ngClass]="!countForm.controls['name'].valid && countForm.controls['name']?.touched  ? 'invalid' : '' ">
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email *</label>
      <div class="form-field">
        <i class="icon icon-mail"></i>
        <input type="text" id="email" formControlName="email" class="form-control" required
               [ngClass]="!countForm.controls['email'].valid && countForm.controls['email']?.touched  ? 'invalid' : '' ">
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Телефон * </label>
      <div class="form-field">
        <i class="icon icon-phone"></i>
        <input type="text" id="phone" formControlName="phone" class="form-control" required
               [ngClass]="!countForm.controls['phone'].valid && countForm.controls['phone']?.touched  ? 'invalid' : '' ">
      </div>
    </div>
    <div class="form-group form-textarea">
      <label for="comment">Комментарий</label>
      <div class="form-field">
        <textarea name="" id="comment" cols="30" rows="10" formControlName="comment">  </textarea>
      </div>
    </div>
    <div class="form-group form-button">
      <div class="form-field">
        <button type="submit" class="form-submit" [disabled]="!countForm.valid" (click)="onSubmit()">отправить</button>
      </div>
    </div>


  </form>

</div>
