<nav role="navigation" class="header-ham">
  <div id="menuToggle">
    <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
      Some spans to act as a hamburger.

      They are acting like a real hamburger,
      not that McDonalds stuff.
    -->
  <div class="ham-wrap">
  <span></span> <span></span> <span></span>
</div>
    <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <!-- <a href="tel:380683392449"><li>(068) - 339 - 24 - 49</li></a> -->
      <!-- <a href="tel:380504192547"><li>(050) - 419 - 25 - 47</li></a> -->
      <li><a href="#">Главная</a></li>
      <li><a href="#">Наша миссия</a></li>
      <li><a href="#">Продукция</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">О нас</a></li>
    </ul>
  </div>
</nav>
