
label {
  font-weight: 400;

  display: inline-block;
  max-width: 100%;
  margin-bottom: .65em;
}

.section-form-wrapper {
  background: #d8f1d6;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 0;

}

.form-wrapper {
  background-color: #fff;
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  max-width: 1080px;
  padding: 30px;
  //max-height: 480px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form-group {
  display: block;
  margin-bottom: 20px;
  text-align: left;
  flex: 0 0 30%;

  .form-field {
    position: relative;

    &.flat {
      display: inline;
    }

    .form-radio {
      -webkit-appearance: none;

      width: auto;
      height: 2em;
      display: inline-block;
      line-height: 2em;
      cursor: pointer;
      text-align: center;
      margin: 0 1em;
      padding: 0 1em;
      box-sizing: content-box;

      &:focus {
        border: none;
        outline: none;
      }

      &:checked {
        border-radius: 36px;
        border: 1px silver dashed;
      }

      &[value^='Майка']:after {
        content: 'Майка';
        display: block;
      }

      &[value^='Банан']:after {
        content: 'Банан';
        display: block;
      }

      &[value^='Низкого давления']:after {
        content: 'Низкого давления';
        display: block;
      }

      &[value^='Высокого давления']:after {
        content: 'Высокого давления';
        display: block;
      }
    }


    select {
      height: 42px;
      border-radius: 4px;
      width: 100%;
      font-size: smaller;
      padding-left: .75em;
      box-sizing: border-box;
      border-color: #ccc;

    }
  }

  .form-control {
    box-shadow: none;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    outline: 0;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;


  }


  .form-control:focus {
    box-shadow: none;
    border-color: #77d96c;
  }

}

//.ng-touched.ng-invalid,
.invalid {
  border: 1px solid red !important;
}
.form-radiocheck,
.form-textarea {
  width: 100%;
  flex-basis: 100%;

  textarea {
    width: 100%;
    height: 125px;
    border-radius: 3px;
  }
}

.form-button {
  flex-basis: 100%;
  text-align: center;
  margin: 1em 0;

  button {
    -webkit-appearance: none;
    border: 2px solid #77d96c;
    background: #FFF;
    width: 295px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #77d96c;
    text-align: center;
    height: 42px;
    line-height: 42px;
    box-sizing: content-box;
    border-radius: 3px;
    font-weight: 700;
  }

  button:disabled {
    border: 2px solid #cecece;
    color: #cecece;
  }
}

@media (max-width: 620px) {
  .form-wrapper {
    flex-flow: column nowrap;
    padding: 30px .55em;
    width: 100%;

  }
}
