.slick-list{
  width: 100%;
}
.carousel:hover .slick-next,
.carousel:hover .slick-prev{
  opacity: .7;
}
.slick-prev,
.slick-next{
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  margin: -60px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,.3);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: rgba(0,0,0,.8);
  border-radius: 0;
  padding: 30px;
  right: 0;
}
.slick-prev:before,
.slick-next:before {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e929";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: rgba(255, 255, 255, .8);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slick-next:before{
  content: "\e92a";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: rgba(0,0,0,.8);
  color: black;
}
.slick-prev{
  left: 0;
}
.lower-row{
  display: flex;
  position: relative;
  margin-top: -90px;
  justify-content: space-around;
.lower-row-item{
  display: inline-block;
  height: 90px;
  background: #0a783d7a;
  text-transform: uppercase;

  line-height: 90px;
  width: 375px;
  text-align: center;
  font-weight: 300;
  border-radius: 6px 6px 0 0;
  letter-spacing: 1px;
  font-size: 2em;
  a{
    text-decoration: none;
    color: #FFF;
  }
}
}
