  <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideConfig"
  >
    <div *ngFor="let slide of slides;trackBy: trackByFn" class="partner-item" ngxSlickItem>
        <img [alt]="slide.alt" [attr.data-lazy]="slide.img" width="100%"/>
    </div>
  </ngx-slick-carousel>
<div class="lower-row">
  <div class="lower-row-item"><a href="#mission">Наша миссия</a></div>
  <div class="lower-row-item"><a href="#about-us">О нас</a></div>
  <div class="lower-row-item"><a href="#production">Наша продукция</a></div>
</div>
