<section class="section-wrapper" id="pa">
  <h2>Для рекламных агентств и посредников</h2>
  <div class="about-text-wrapper">
    <p class="pa-text">
      Работаем с рекламными агентствами и посредниками. Предоставляем самый широкий
      ассортимент активированных пакетов под печать шелкотрафаретом по специальным
      дилерским ценам. У нас вы всегда сможете заказать чистые пакеты тиражами от 100 шт.
      Детальное предложение для РА и посредников в pdf файле.<br/>
      <a class="pdf-icon" href="/assets/files/for_pa.pdf" download="">Скачать</a>
    </p>
  </div>
</section>
