<section class="section-wrapper" id="pa">
  <h2>  Для рекламних агентств і посередників</h2>
  <div class="about-text-wrapper">
    <p class="pa-text">
      Працюємо з рекламними агентствами і посередниками. Надаємо найширший
      асортимент активованих пакетів під друк шовкотрафаретом за спеціальними
      дилерським цінами. У нас ви завжди можете замовити чисті пакети обсягами від 100 шт.
      Детальна пропозиція для РА і посередників в pdf файлі.<br/>
      <a class="pdf-icon" href="/assets/files/for_pa.pdf" download="">Завантажити</a>
    </p>
  </div>
</section>
