<div (clickOutside)="uncheck()" [formGroup]="hamburgerForm" id="menuToggle">
    <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
    -->
    <input formControlName="hamCheck" type="checkbox"/>

    <!--
      Some spans to act as a hamburger.

      They are acting like a real hamburger,
      not that McDonalds stuff.
    -->
    <div class="ham-wrap">
        <span class="t"></span> <span class="m"></span> <span class="b"></span>
    </div>
    <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
    -->
    <ul id="menu">
        <li><a (click)="uncheck();" SimpleSmoothScroll [offset]="-300" [showHash]="false" href="#head">Главная</a></li>
        <li><a (click)="uncheck();" SimpleSmoothScroll [showHash]="false" href="#mission">Наша миссия</a></li>
        <li><a (click)="uncheck();" SimpleSmoothScroll [offset]="-300" [showHash]="false"
               href="#production">Продукция</a></li>
        <li><a (click)="uncheck();" SimpleSmoothScroll [showHash]="false" href="#contacts">Контакты</a></li>
        <li><a (click)="uncheck();" SimpleSmoothScroll [showHash]="false" href="#about-us ">О нас</a></li>
    </ul>
</div>
