<div class="section-wrapper"><h2>Наши сертификаты</h2></div>
<article class="certificates-wrapper">
  <div class="certificate-item">

      <img src="../../assets/img/img_square_2.jpg" alt="placeholder" />

    <div class="text">
      <h3><a href="#">Laboriosam Quod Dignissimos</a></h3>

      <a href="#" class="probootstrap-custom-link link-sm">Скачать</a>
    </div>
  </div>
  <div class="certificate-item">

      <img src="../../assets/img/img_square_4.jpg" alt="placeholder" />

    <div class="text">
      <h3><a href="#">Laboriosam Quod Dignissimos</a></h3>

      <a href="#" class="probootstrap-custom-link link-sm">Скачать</a>
    </div>
  </div>
  <div class="certificate-item">

      <img src="../../assets/img/img_square_5.jpg" alt="placeholder" />
  
    <div class="text">
      <h3><a href="#">Laboriosam Quod Dignissimos</a></h3>

      <a href="#" class="probootstrap-custom-link link-sm">Скачать</a>
    </div>
  </div>
</article>
