<section class="section-wrapper">
  <blockquote class="testimonial">
    <q>
      Одна из сложнейших задач современности —<br />
      проблемы замедления процесса уничтожения живой природы
    </q>
    <footer>— Арчи Карр</footer>
  </blockquote>
  <h2>Наша миссия</h2>
</section>
<article class="mission-wrapper">
  <p class="mission">
    Мы искренне и свято верим, что каждый из нас, живущих на планете Земля,
    способен внести свой вклад в процесс сохранения нашей природы. Мы выбрали
    для себя сферу, где видим в себе силы и возможность, что либо изменить.
    Сейчас наша команда выступает за прекращение производства и использования
    полиэтиленовых пакетов, которые наносят непоправимый вред природе и всем ее
    обитателям.
  </p>
  <p class="mission">
    Используя современные технологии и опыт развитых стран мы предлагаем
    производство упаковки из биоразлагаемых компонентов. При переходе на
    биоразлагаемую упаковку уже через пару лет мы можем жить в мире полностью
    отчищенном от полиэтиленового мусора.
  </p>
  <p class="mission">
    Наша компания предоставляет широкий выбор упаковки из полиэтилена с
    применением добавки d2w, которая по истечению 3 лет и воздействию природных
    факторов, полностью разлагает полиэтилен до водорода. Мы искренне верим, что
    ответственность перед своими покупателями и перед нашей природой, ее
    красотой и богатствами, поможет предпринимателям Украины и остального мира
    сделать шаг в сторону другого, здорового и чистого мира для всех нас!
  </p>
</article>
